<div id="content">
    <div id="admin_menu">
        <ul>
            <li><a href="{{ admin.url.add }}">Добавить товар</a></li>
            <li><a href="{{ admin.url.catalog }}">Открыть каталог для редактирования</a></li>
            <li><a href="{{ admin.url.sprav }}">Редактировать справочники</a></li>
            <li><a href="{{ admin.url.basket }}">Администрирование корзины заказов</a></li>
            <li><a href="#">ссылка</a></li>
        </ul>
    </div>
</div>