<header>
    <div id="logo"><img src="{{ style.logo }}" alt="Логотип"/></div>
    <div id="banner">Администрирование</div>
    <nav>
        <a href="/admin/">Меню</a>
        <a href="/">Сайт</a>
        <a href="/admin/logout/">Выход</a>
    </nav>
</header>