<html>
<head>
    <link rel="stylesheet" href="{{ style.css }}">
    {% if admin.style %}
    <link rel="stylesheet" href="{{ admin.style.css }}">
    {% endif %}
    {{ ajax.jquery|raw }}

    {% if admin.basket_admin %}
        <script src="{{ admin.basket_admin }}"></script>
    {% endif %}

    <title>{{ title }}</title>
</head>
<body>
{% include header %}

{{ content|raw }}

{% include footer %}

</body>
</html>