
# HTID:3590399: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:3590399:

<IfModule mod_headers.c>
  Header set Cache-Control "no-store, no-cache"
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "now"
</IfModule>

AddDefaultCharset UTF-8
DirectoryIndex /public/index.php

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /public/index.php?q=$1 [QSA,L]
RewriteCond %{THE_REQUEST}/ ^[A-Z]{3,}\s(.*)/index\.php[NC]